In [20]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time

from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [21]:
username = 'root' # default username for MySQL db is root
password = 'Rocp137a7bc' # whatever password you chose during MySQL installation.

connection = f'mysql+pymysql://{username}:{password}@localhost/moviesP3'
engine = create_engine(connection)

In [22]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created!')

Database created!

In [2]:
## Loading Dataframe
df_basics = pd.read_csv("Data/basics.cvs.gz")
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [3]:
## Loading Dataframe
df_akas = pd.read_csv("Data/akas.cvs.gz")
df_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0

In [4]:
## Loading Dataframe
df_ratings = pd.read_csv("Data/ratings.cvs.gz")
df_ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       262
2  tt0000005            6.2      2603
3  tt0000006            5.1       179
4  tt0000007            5.4       816

## Part 1 
---

In [5]:
## Splitting genres
df_basics["genres_split"] = df_basics["genres"].str.split(",")

## exploding split column
exploded_genres = df_basics.explode("genres_split")

unique_genres = sorted(exploded_genres["genres_split"].unique())

In [6]:
## Creating new titles tables
title_genres = exploded_genres[["tconst", "genres_split"]].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [7]:
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [8]:
df_basics["genre_id"] = df_basics["genres_split"].map(genre_map)
df_basics = df_basics.drop(columns = "genres_split")

TypeError: unhashable type: 'list'