## Loading Data and Importing Libraries
---

In [1]:
## Importing Libraries
import pandas as pd
import numpy as np

In [2]:
## Creating Data frame for basics and displaying results
url_basics = "https://datasets.imdbws.com/title.basics.tsv.gz"
df_basics = pd.read_csv(url_basics, sep = "\t", low_memory = False)
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9764099 entries, 0 to 9764098
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 670.4+ MB

In [3]:
## Creating Dataframe for basics and displaying results
url_akas = "https://datasets.imdbws.com/title.akas.tsv.gz"
df_akas = pd.read_csv(url_akas, sep = "\t", low_memory = False)
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35554042 entries, 0 to 35554041
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [4]:
## Creating Dataframe for basics and displaying results
url_ratings = "https://datasets.imdbws.com/title.ratings.tsv.gz"
df_ratings = pd.read_csv(url_ratings, sep = "\t", low_memory = False)
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299877 entries, 0 to 1299876
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1299877 non-null  object
 1   averageRating  1299877 non-null  float64
 2   numVotes       1299877 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.8+ MB

In [5]:
## Replacing /N with NAN
df_ratings.replace({'\\N':np.nan}, inplace = True)
df_basics.replace({'\\N':np.nan}, inplace = True)
df_akas.replace({'\\N':np.nan}, inplace = True)

In [6]:
## Filtering df_akas to only include rows from US
us_filter = df_akas["region"] == "US" 
df_akas = df_akas[us_filter]
df_akas["region"].value_counts()

US    1428693
Name: region, dtype: int64

In [7]:
## filtering out null values for runtime and genres
df_basics.dropna(subset = ["runtimeMinutes"], inplace = True)
df_basics.dropna(subset = ["genres"], inplace = True)
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          164498
endYear           2748991
runtimeMinutes          0
genres                  0
dtype: int64

In [8]:
## Filtering to only include type = movie
filter_movie = df_basics["titleType"] == "movie" 
df_basics = df_basics[filter_movie]
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [9]:
## Filtering for year to be between 2000 - 2002

df_basics["startYear"] = df_basics["startYear"].astype(float)
year_filter1 = df_basics["startYear"] >= 2000 
year_filter2 = df_basics["startYear"] <= 2022
df_basics = df_basics[year_filter1]
df_basics = df_basics[year_filter2]
                      
df_basics["startYear"].value_counts()

C:\Users\josep\AppData\Local\Temp\ipykernel_5044\100723607.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_basics = df_basics[year_filter2]

2017.0    14368
2018.0    14312
2019.0    14040
2016.0    13939
2015.0    13462
2014.0    13093
2022.0    12635
2013.0    12372
2021.0    12304
2012.0    11617
2020.0    11552
2011.0    10765
2010.0    10200
2009.0     9340
2008.0     8142
2007.0     6954
2006.0     6504
2005.0     5820
2004.0     5192
2003.0     4582
2002.0     4127
2001.0     3856
2000.0     3636
Name: startYear, dtype: int64

In [10]:
## Filtering out documentaries 
is_documentary = df_basics['genres'].str.contains('documentary',case=False)
df_basics = df_basics[~is_documentary]

In [11]:
## Filtering to only include US movies 
us_filter = df_basics["tconst"].isin(df_akas["titleId"])
df_basics = df_basics[us_filter]
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86303 entries, 34803 to 9763865
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86303 non-null  object
 1   titleType       86303 non-null  object
 2   primaryTitle    86303 non-null  object
 3   originalTitle   86303 non-null  object
 4   isAdult         86303 non-null  object
 5   startYear       86303 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86303 non-null  object
 8   genres          86303 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [12]:
## Saving dataframe and displaying info now that it is filtered
filter_ratings = df_ratings["tconst"].isin(df_akas["region"])
df_ratings = df_ratings[filter_ratings]
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tconst         0 non-null      object
 1   averageRating  0 non-null      float64
 2   numVotes       0 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 0.0+ bytes

In [13]:
df_basics.to_csv("basics.cvs.gz", compression = "gzip", index = False)

In [14]:
df_ratings.to_csv("ratings.cvs.gz", compression = "gzip", index = False)

In [15]:
df_akas.to_csv("akas.cvs.gz", compression = "gzip", index = False)

In [17]:
test = pd.read_csv("Data/test.txt")
test.head()

  tconst\taverageRating\tnumVotes
0            tt0000001\t5.7\t1965
1             tt0000002\t5.8\t262
2            tt0000003\t6.5\t1807
3             tt0000004\t5.6\t178
4            tt0000005\t6.2\t2604

In [18]:
test.to_csv("test.csv.gz",compression = "gzip", index = False)