## Loading Data and Importing Libraries
---

In [1]:
## Importing Libraries
import pandas as pd
import numpy as np

In [2]:
## Creating Data frame for basics and displaying results
url_basics = "https://datasets.imdbws.com/title.basics.tsv.gz"
df_basics = pd.read_csv(url_basics, sep = "\t", low_memory = False)
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9768338 entries, 0 to 9768337
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 670.7+ MB

In [3]:
## Creating Dataframe for akas and displaying results
url_akas = "https://datasets.imdbws.com/title.akas.tsv.gz"
df_akas = pd.read_csv(url_akas, sep = "\t", low_memory = False)
df_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35575538 entries, 0 to 35575537
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.1+ GB

In [4]:
## Creating Dataframe for ratings and displaying results
url_ratings = "https://datasets.imdbws.com/title.ratings.tsv.gz"
df_ratings = pd.read_csv(url_ratings, sep = "\t", low_memory = False)
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300226 entries, 0 to 1300225
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1300226 non-null  object
 1   averageRating  1300226 non-null  float64
 2   numVotes       1300226 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 29.8+ MB

In [5]:
## Replacing /N with NAN
df_ratings.replace({'\\N':np.nan}, inplace = True)
df_basics.replace({'\\N':np.nan}, inplace = True)
df_akas.replace({'\\N':np.nan}, inplace = True)

In [6]:
## Filtering df_akas to only include rows from US
us_filter = df_akas["region"] == "US" 
df_akas = df_akas[us_filter]
df_akas["region"].value_counts()

US    1429036
Name: region, dtype: int64

In [7]:
## filtering out null values for runtime and genres
df_basics.dropna(subset = ["runtimeMinutes"], inplace = True)
df_basics.dropna(subset = ["genres"], inplace = True)
df_basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          164490
endYear           2749497
runtimeMinutes          0
genres                  0
dtype: int64

In [8]:
## Filtering to only include type = movie
filter_movie = df_basics["titleType"] == "movie" 
df_basics = df_basics[filter_movie]
df_basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,NaN,120,"Adventure,Fantasy"

In [9]:
## Filtering for year to be between 2000 - 2002

df_basics["startYear"] = df_basics["startYear"].astype(float)
year_filter1 = df_basics["startYear"] >= 2000 
year_filter2 = df_basics["startYear"] <= 2022
df_basics = df_basics[year_filter1]
df_basics = df_basics[year_filter2]
                      
df_basics["startYear"].value_counts()

C:\Users\josep\AppData\Local\Temp\ipykernel_12836\100723607.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_basics = df_basics[year_filter2]

2017.0    14368
2018.0    14312
2019.0    14041
2016.0    13939
2015.0    13462
2014.0    13093
2022.0    12647
2013.0    12371
2021.0    12306
2012.0    11620
2020.0    11551
2011.0    10765
2010.0    10201
2009.0     9340
2008.0     8143
2007.0     6955
2006.0     6505
2005.0     5820
2004.0     5192
2003.0     4582
2002.0     4127
2001.0     3856
2000.0     3636
Name: startYear, dtype: int64

In [10]:
## Filtering out documentaries 
is_documentary = df_basics['genres'].str.contains('documentary',case=False)
df_basics = df_basics[~is_documentary]

In [11]:
## Filtering to only include US movies 
us_filter = df_basics["tconst"].isin(df_akas["titleId"])
df_basics = df_basics[us_filter]
df_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86335 entries, 34803 to 9768104
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86335 non-null  object
 1   titleType       86335 non-null  object
 2   primaryTitle    86335 non-null  object
 3   originalTitle   86335 non-null  object
 4   isAdult         86335 non-null  object
 5   startYear       86335 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86335 non-null  object
 8   genres          86335 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [12]:
## Saving dataframe and displaying info now that it is filtered
filter_ratings = df_ratings["tconst"].isin(df_akas["titleId"])
df_ratings = df_ratings[filter_ratings]
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 495159 entries, 0 to 1300203
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         495159 non-null  object
 1   averageRating  495159 non-null  float64
 2   numVotes       495159 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 15.1+ MB

In [15]:
df_basics.to_csv("Data/basics.cvs.gz", compression = "gzip", index = False)
df_basics_cleaned = pd.read_csv("Data/basics.cvs.gz")
df_basics_cleaned.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [16]:
df_ratings.to_csv("Data/ratings.cvs.gz", compression = "gzip", index = False)
df_ratings_cleaned = pd.read_csv("Data/ratings.cvs.gz")
df_ratings_cleaned .head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1965
1  tt0000002            5.8       262
2  tt0000005            6.2      2603
3  tt0000006            5.1       179
4  tt0000007            5.4       816

In [17]:
df_akas.to_csv("Data/akas.cvs.gz", compression = "gzip", index = False)
df_akas_cleaned = pd.read_csv("Data/akas.cvs.gz")
df_akas_cleaned.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0.0
1,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0.0
2,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0.0
3,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0.0
4,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0.0