## Setup
Importing libraries and connecting to tmdb api:

---

In [1]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from tqdm.notebook import tqdm_notebook
import tmdbsimple as tmdb

In [2]:
## Loading api credentials from file on local machine
with open("C:\\Users\\josep\\.secret\\imdbapi.json", 'r') as f:
    login = json.load(f)

login.keys()

dict_keys(['api-key'])

In [3]:
tmdb.API_KEY =  login['api-key']

In [4]:
movie = tmdb.Movies(603)
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/l4QHerTSbMI7qgvasqxP36pqjN6.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 72.834,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/tXMFoE8AtNdnFzWOW0aCLwl7xxS.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 23044}

## First Function
Creating function to add rating to movie information for only US movies.

---

In [5]:
## Creating function to add rating
def get_movie_rating(movie_id):
    movie = tmdb.Movies(movie_id)
    movie_info = movie.info()
    releases = movie.releases()
    
    for c in releases["countries"]:
        if c["iso_3166_1"] == "US":
            movie_info["certifcation"] = c["certification"]
    return movie_info

In [6]:
## Testing Function
test = get_movie_rating("tt0848228")
test

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 149.968,
 'poster_path': '/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.708,
 'vote_count': 28436,
 'certifcation': 'PG-13'}

## Creating Second Function
---

In [7]:
## Creating variables
folder = "Data/"
years = [2000, 2001]
basics = pd.read_csv("Data/basics.cvs.gz")
akas = pd.read_csv("Data/akas.cvs.gz")
ratings = pd.read_csv("Data/ratings.cvs.gz")

In [8]:
def write_json(new_data, filename):
    
    with open(filename, "r+") as file:
        file_data = json.load(file)
        
        if(type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else: 
            file_data.append(new_data)
        
        file.seek(0)
        
        json.dump(file_data, file)

In [9]:
for Year in tqdm_notebook(years, desc = "years", position = 0):
    ## Defining JSON file to store year results
    JSON_FILE = f"{folder}tmdb.api_results_{Year}.json"
    
    ## Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    
    ## Creating file if it does not exist
    if file_exists == False:
        
        with open(JSON_FILE, "w") as f:
            json.dump([{"imdb_id" : 0}], f)
    
    ## Creating new dataframe based on year
    df = basics.loc[basics["startYear"] == Year].copy()
    
    ## Saving movie ids to list
    movie_ids = df["tconst"].copy()
    
    ## Loading existing data to filter
    previous_df = pd.read_json(JSON_FILE)
    
    ## Filter movies already in file
    movie_ids_get = movie_ids[~movie_ids.isin(previous_df["imdb_id"])]
    
    for movie_id in tqdm_notebook(movie_ids_get, desc=f'Movies from {Year}', position = 1, leave = True):
    
        try: 
            temp = get_movie_rating(movie_id)
            
            write_json(temp, JSON_FILE)
            
            time.sleep(0.02)
        
        except Exception as e:
            continue 
    
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f'{folder}final_tmdb_data{Year}.csv.gz', compression = "gzip", index = False)

years:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/209 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/241 [00:00<?, ?it/s]

In [10]:
df_2000 = pd.read_csv("Data/final_tmdb_data2000.csv.gz")
df_2000.head()

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certifcation
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,12854953.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.111,2175.0,PG

In [11]:
df_2001 = pd.read_csv("Data/final_tmdb_data2001.csv.gz")
df_2001.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1323 entries, 0 to 1322
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                1323 non-null   object
 1   adult                  1322 non-null   float64
 2   backdrop_path          706 non-null    object
 3   belongs_to_collection  92 non-null     object
 4   budget                 1322 non-null   float64
 5   genres                 1322 non-null   object
 6   homepage               108 non-null    object
 7   id                     1322 non-null   float64
 8   original_language      1322 non-null   object
 9   original_title         1322 non-null   object
 10  overview               1293 non-null   object
 11  popularity             1322 non-null   float64
 12  poster_path            1189 non-null   object
 13  production_companies   1322 non-null   object
 14  production_countries   1322 non-null   object
 15  release_date           1312 non-null   object
 16  revenue                1322 non-null   float64
 17  runtime                1322 non-null   float64
 18  spoken_languages       1322 non-null   object
 19  status                 1322 non-null   object
 20  tagline                548 non-null    object
 21  title                  1322 non-null   object
 22  video                  1322 non-null   float64
 23  vote_average           1322 non-null   float64
 24  vote_count             1322 non-null   float64
 25  certifcation           424 non-null    object
dtypes: float64(9), object(17)
memory usage: 268.9+ KB